<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nonecity">

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP"></uses-permission>
    <application
        android:name="com.example.wzs.myapplication.application.HXApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- 百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="LYrhvnUs0yxGBEWquKbOEI8t0svULsDg" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <!-- 7.0相机/相册配置 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.wzs.myapplication.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- 判断页 -->
        <activity
            android:name="com.example.wzs.myapplication.activity.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 引导页 -->

        <activity
            android:name="com.example.wzs.myapplication.activity.WelcomeGuideActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <activity android:name="com.example.wzs.myapplication.activity.MainActivity"></activity>
        <activity android:name="com.example.wzs.myapplication.activity.RegisterActivity" />
        <activity android:name="com.example.wzs.myapplication.activity.LoginActivity" />
        <activity android:name="com.example.wzs.myapplication.activity.SetPasswordActivity" />
        <activity android:name="com.example.wzs.myapplication.activity.PersonHbActivity" />
        <activity android:name="com.example.wzs.myapplication.activity.PersonDataActivity" />
        <activity android:name="com.example.wzs.myapplication.activity.ForgotPwdActivity" />
        <activity android:name="com.example.wzs.myapplication.activity.SettingActivity" />
        <activity android:name="com.example.wzs.myapplication.activity.SafeActivity" />
        <activity android:name="com.example.wzs.myapplication.activity.TZActivity" />
<activity android:name="com.example.wzs.myapplication.activity.VerificationFriendsActivity"/>
        <activity android:name="com.example.wzs.myapplication.activity.FriendsRequestsActivity"/>
        <receiver
            android:name="com.example.wzs.myapplication.event.MyReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.hxcs" />
            </intent-filter>
        </receiver>

        <activity android:name="com.example.wzs.myapplication.activity.ChatActivity" />
        <activity android:name="com.example.wzs.myapplication.activity.AddActivity" />
        <activity android:name="com.example.wzs.myapplication.activity.FriendDetailsActivity" />
        <activity android:name="com.example.wzs.myapplication.activity.FriendRequestsActivity" />
        <activity android:name="com.example.wzs.myapplication.activity.ChangeSignatureActivity"></activity>
    </application>

</manifest>